<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- 공통: 콘솔 Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- prod 프로파일 전용 설정 -->
    <springProfile name="prod">
        <!-- Spring application.yml로부터 환경변수 가져오기 -->
        <springProperty name="DISCORD_WEBHOOK_URL" source="discord.webhook.url"/>
        <springProperty name="SERVICE_NAME" source="spring.application.name" />

        <!-- 디스코드 Appender -->
        <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
            <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>### 📢 [%-5level] ${SERVICE_NAME} 에서 문제 발생 \n- 시간: %d{HH:mm:ss}\n- 위치: [%thread] %logger{36}\n- 에러 코드: `%msg`%n```%ex{full}```</pattern>
            </layout>
            <username>에러 났어 개발자야</username>
            <avatarUrl>https://img.insight.co.kr/static/2019/02/27/700/872zn06d01q44v8q900u.jpg</avatarUrl>
            <tts>false</tts>
        </appender>

        <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="DISCORD"/>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

        <!-- prod에서는 Discord + Console -->
        <root level="INFO">
            <appender-ref ref="ASYNC_DISCORD"/>
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <!-- prod 외 환경 (dev, local 등)에서는 Console만 출력 -->
    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>
</configuration>
